html {
  color-scheme: dark;
  color: #bbb;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  background: url(data:image/gif;base64,R0lGODlhBAAEAPABAAAAAP///ywAAAAABAAEAAACBQwOhnlWADs);
}

body {
  margin: 2em;
  padding: 2em;
  width: 50em;
  max-width: 100%;
  background-color: #000;
  border: 1px solid #fff;
}

code {
  white-space: pre;
  color: #fff;
}

summary {
  cursor: pointer;
}

.logo,
h1,
h2 {
  text-align: center;
  color: #fff;
}

.logo {
  font-size: 400%;
  margin: 0;
  padding: 0;
}
